body {
    background-color: rgb(98, 142, 224);
}

.userdata {
    border: 1px solid black;
}

.column2{
    justify-content: center;
    align-content: center;
}
.column {
    
    float: left;
    width: 50%;
    
  }
  .row{
    background-color: rgb(33, 104, 151);
  }
  /* Clear floats after the columns */
  .row:after {
    
    content: "";
    display: table;
    clear: both;
  }

.userdataprint  {
    background-color:powderblue;
    border-radius:15px;
    border-color: red;
    font-family:Lucida Console;
    opacity: 75;
    padding-left: 5px;
    
}

.userdataprint2  {
    background-color:powderblue;
    border-radius:15px;
    border-color: red;
    font-family:Lucida Console;
    opacity: 75;
    padding-left: 5px;
    width: 90px;
    display: grid;
    justify-content: center;
    
}